.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
}

header {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--primary-color);
    padding: min(2em, 15%);
    border-radius: 1em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5em;
}

.text-container p {
    margin: .75em 0 1em;
    font-size: 1.25em;
}