/* Clean and clear */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* Handwritten */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lexend+Deca:wght@100..900&display=swap');

/* Viking */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cookie&family=Lexend+Deca:wght@100..900&display=swap');


:root {
    --base-color: #161515;
    --text-color: #ffffff;
    --link-color: #dba634;
    --primary-color: #2f84a5;
    --secondary-color: #170f86;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

main {
    margin: 2em auto;
    width: min(75em, 100%);
    padding: min(2em, 15%);
    border-radius: 1em;
}

footer {
    margin: 2em auto;
    width: min(75em, 100%);
    padding: min(2em, 15%);
    border-radius: 1em;
    background-color: var(--secondary-color);
}

nav {
    margin: 1em auto 3 em auto;
    width: min(100000px, 100%);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
}

nav a:hover {
    text-decoration: underline;
}